// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
   // border-top: container("border");
    border-top: 1px solid #333333;
    //padding: 0 0 spacing("double");
    float: left;
    width: 100%;
    font-weight: 400;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
   // @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;
    padding-top: 40px;

    @include breakpoint("small") {
        text-align: left;
       // width: width("6/12");
    }

    @include breakpoint("medium") {
       // width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {

    @include breakpoint("medium") {
       // width: width("2/12");
    }
}

.footer-logo {
	width: 100%;
	max-width: 260px;
	margin-bottom: 30px;
}

.store-info {
	border-left: 1px solid #333333;
	padding: 45px 60px 60px !important;
	margin-bottom: 0;
}

.slogan {
	color: #fff;
	font-weight: 600;
}

.subscribe {
	background: #222;
	height: 125px;
	float: left;
	width: 100%;
}

.footer-socials {
	border-right: 1px solid #333;
	height: 125px;
}
.footer-socials ul {padding: 40px 0 0 30px;}
.footer-socials ul li {display: inline-block; color: #fff; margin: 0 5px;}
.footer-socials ul li.text {float: left; margin-top: 15px; margin-right: 20px; color: #cbcbcb; }
.footer-socials ul li a {color: #fff; font-size: 34px;}
.footer-socials ul li a:hover {opacity: .7;}

.subscription-form {
	padding: 45px 45px 0 !important;
}
.subscription-form h5 {
	float: left;
	margin: 13px 15px 0 0;
	color: #cbcbcb;
	font-weight: 400;
}

.subscription-form .form-field {
	margin: 0;
}

// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    //color: $footer-heading-fontColor;
    color: #fff;
    font-size: fontSize("base");
    text-transform: inherit;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;
        font-weight: 400;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;
    border-top: 1px solid #333;
    padding: 20px 0;
    background: #222;
    float: left;
    width: 100%;

    @include breakpoint("small") {
        text-align: center;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
       // font-size: fontSize("tiny");
        margin: 0;
        font-weight: 400;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}
