<div class="lightbox-attributes">
	
	<div class="close"><i class="material-icons">close</i> Close</div>
	
	<div>	
	 <h1>SPEEDOMETER ATTRIBUTES</h1>
	 <p class="description">Please select your gauge specifics below</p>
	 	 
	
	<div class="container">
		<div class="row">
				
		
		
		<div class="attribute">
			<label>Label Name <i class="material-icons">info_outline</i></label>
			<div class="select-style">
				<select>
				  <option value=""></option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				</select>
			</div>
		</div>


		<div class="attribute">
			<label>Label Name <i class="material-icons">info_outline</i></label>
			<div class="select-style">
				<select>
				  <option value=""></option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				</select>
			</div>
		</div>
		

		<div class="attribute">
			<label>Label Name <i class="material-icons">info_outline</i></label>
			<div class="select-style">
				<select>
				  <option value=""></option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				  <option value="name">Option Name</option>
				</select>
			</div>
		</div>		
		

		<div class="action-btn"><a href="#">Add Gauge</a></div>
		<!--<a href="#" class="cancel">Cancel</a>-->		
					
			
		</div>
	</div> 	 
	 	 

	</div>
</div>
