<div class="lightbox-styles">
	
	<div class="close"><i class="material-icons">close</i> Close</div>
	
	<div>	
	 <h1>FORD GT</h1>
	 <p class="description">select one of the styles below to start customizing</p>
	 	 
	
	<div class="container">
		<div class="row">
			
			
			<ul class="cards">
				
				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>
				
				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>												

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>	
				
				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>	
				
				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>	
				
				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Theme Title</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a href="#">Select Style</a></div>
					</div>
				</li>													
				
				
			</ul>
			
			
		</div>
	</div> 	 
	 	 

	 <!--<a href="/customizer-product/" class="btn">Start Customizing Now</a>-->
	</div>
</div>
