<nav class="navUser">
 <div class="container">
    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        
        
        <!--<li class="navUser-item">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">{{lang 'common.search'}}</a>
        </li>
        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        {{#if settings.account_creation_enabled}}
            <li class="navUser-item navUser-item--account">
                {{#if customer}}
                    <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                    <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                {{else}}
                    <a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}-->
        
        <li class="navUser-item my-account">
        	<a class="navUser-action" href="#"><img src="{{cdn '/assets/img/garage-icon.png'}}" /> My Account <i class="material-icons">arrow_drop_down</i></a>
        
			<div class="dropdown-menu is-open" style="display: none;">
				{{#if settings.account_creation_enabled}}
                {{#if customer}}
                    <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                    <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                {{else}}
                    <a class="navUser-action login-btn" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
        {{/if}}

			</div>
			
        
        </li>

        
        <li class="navUser-item">
        	<a class="navUser-action" href="tel:8017090972"><i class="material-icons">phone</i> 801-709-0972</a>
        </li>
        
        <li class="navUser-item">
         <a class="navUser-action" href="/support"><i class="material-icons">chat</i> Customer Support</a>
        </li>
        
        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action" href="{{urls.gift_certificate.purchase}}"><i class="material-icons">card_giftcard</i> {{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel"><i class="material-icons">shopping_cart</i> {{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
        
        <li class="navUser-item search-item">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false"><i class="material-icons">search</i> <!--{{lang 'common.search'}}--></a>
        </li>
        
    </ul>
 </div>
</nav>
